packaging_format = 2

id = "rss-bridge"
name = "RSS-Bridge"
description.en = "RSS and Atom feed generator for websites that don't have one"
description.fr = "Générateur de flux RSS et Atom pour les sites Web qui n'en ont pas"

version = "2025.08.05~ynh3"

maintainers = ["JimboJoe","Lapineige"]

[upstream]
license = "Unlicense"
demo = "https://wtf.roflcopter.fr/rss-bridge/"
admindoc = "https://github.com/RSS-Bridge/rss-bridge/wiki"
code = "https://github.com/RSS-Bridge/rss-bridge"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "300M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/rss-bridge"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/RSS-Bridge/rss-bridge/archive/refs/tags/2025-08-05.tar.gz"
        sha256 = "0ec59576ccc2947925cad3255923d086b2b59b6fbbed54747eb97b7ad63f3218"
        autoupdate.strategy = "latest_github_release"
        autoupdate.version_regex = "^(.*)\\-(.*)\\-(.*)$"  # Date format

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.3-curl",
        "php8.3-mbstring",
        "php8.3-xml",
        "php8.3-zip",
    ]
